.experiencia .subtitulo {
  color: #8f8f8f;
  max-width: 4ch;
}

.experiencia-texto {
  font-size: 1.5rem;
  color: #3d3d3d;
  line-height: 1.5;
  max-width: 40ch;
  margin-bottom: 5.5rem;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  padding: 2rem;
  background: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 3.5rem;
  position: relative;
}

.empresa-titulo {
  font-size: 1.5rem;
  color: #141414;
  margin-bottom: 2rem;
}

.empresa-titulo span {
  color: #cccccc;
}

.empresa-ano {
  font-size: 1.5rem;
  text-align: right;
  width: 100px;
  position: absolute;
  top: 28px;
  left: -120px;
}

.empresa-texto {
  color: #525252;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.empresa-skills {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  max-width: 18rem;
  gap: 0.5rem;
}

.empresa-skills li {
  background: #fff;
  border-radius: 6px;
  padding: 0.375rem;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .empresa-ano {
    position: initial;
    font-size: 1rem;
    text-align: left;
    width: initial;
    display: inline-block;
    margin-bottom: 1rem;
  }
}
