.footer {
  background: #141414;
  color: #ffffff;
}

.footer .container {
  padding: 6rem 1.25rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.footer-texto {
  font-size: 1.5rem;
  color: #cccccc;
  line-height: 1.4;
}

.footer-contato {
  font-size: 2.25rem;
  font-weight: bold;
}

.footer-contato li {
  margin-bottom: 2rem;
}

.footer-contato a {
  color: #ffffff;
}

.footer-copy {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.125rem;
  color: #8f8f8f;
}


@media (max-width: 800px) {
  .footer .container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .footer-texto {
    text-align: center;
  }

  .footer-contato {
    font-size: 1.75rem;
    text-align: center;
  }
}