* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
  color: #141414;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-light {
  color: #7e06dd;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    word-break: initial;
  }
}
