.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.header-menu a {
  font-size: 1.125rem;
  color: #141414;
  line-height: 1.3;
  display: inline-block;
  padding: 0.625rem;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.25rem;
  }

  .header-menu a {
    background: #f5f5f5;
    border-radius: 3px;
    font-size: 1rem;
  }
}
